
    body {
      margin: 0;
      background-color: #ebebeb;
    }

    h1 {
      margin-top: 0;
      color: #71c9ce;
    }
    h3 {
      color: #71c9ce;
    }
    a {
      color: #663300;
      text-decoration: none;
    }
    table {
      border-collapse: separate;
      width: 100%;
      color: #000000;
      text-align: left;
      border-width: 2px;
      border-color: #3092c6;
      border-style:solid;
      background-color: #ffffff;
    }
    th, td {
      border-width:2px;
      border-color: #3092c6;
      border-style: solid;
      padding: 3px;
    }
    tr:hover {background-color: #f5f5f5;} 
    tr:nth-child(even){background-color: #e2fdfa;}
    .head_container {
        display: inline-block;
        height: 380px;
        background: #e8a87c;
        border-bottom: #FFD100 4px solid;
        width:2000px;
    }
    .topbar {
      color: #501B1D;
      display: inline-block;
      position: relative;
      
     
      left:200px;
      margin-right: 20px;
      font-style:normal;
      font-weight: 300;
      font-size: 150%;
      bottom: auto;
   }
	.rushrhees{
	display: inline-block;
	text-align: right;
	display: inline;
	border-radius: 4px;
	height: auto;
	position: relative;
	left: 100px;
	top: 25px;
	width: 25%;
	}
	.Welcome {
	  
	  display: inline-block;
	  color:black;
	  position: absolute;
	  font-size: 40pt;
	  padding-left:200px;
          padding-top:100px;
	  font-weight: bold;
	  
	}
	.Headline {
  	font-size: 250%;
  	font-style: italic;
  	font-weight: bold;
  	position: relative;
  	left: 120px;
  	bottom: 20px;
	}

    hr {
     border-style: none;
      border-top-style: dotted;
      border-top-color: grey;
      border-top-width: 5px;
      height: 2px;
      width: 5%;
    }
    .ROC {
      color:#c38de9;
      position: relative;
      bottom: 250px;
      left: 280px;
      font-size: 500%;
      font-weight: bold;
    }
    .Intro {
      color:#501B1D;
      position: relative;
      bottom: 250px;
      left: 280px;
      font-size: 300%;
      font-style: italic;
    }

    .header_Index {
     padding: 300px;
     background-image: url("background_one.jpg");
     background-repeat: no-repeat;
     background-position: left top;
     background-attachment:fixed;
     background-size: cover;
     margin: 0;
     opacity: 0.9;
    }

    img {
      width: 50%;
      height: 400px;

    }/* tag selectors*/

    .hotel_picture{
      height: 400px;
      display: inline-block;
    } /* class selector*/
    #heading{
      color: red;
    }  /* id selector*/


{
        margin: 0px;
        padding:0px;
}

.header{
        width: 30%;
        margin: 10px auto 0px;
        color: white;
        background: #5F9EA0;
        text-align: center;
        border: 1px solid #B0C4DE;
        border-bottom: none;
        border-radius: 10px 10px 0px 0px;
        padding: 20px;
}
.header_customer{
        width: 30%;
        margin: 10px auto 0px;
        color: white;
        background: #e9a87c;
        text-align: center;
        border: 1px solid #B0C4DE;
        border-bottom: none;
        border-radius: 10px 10px 0px 0px;
        padding: 20px;
}

form, .content {
        width: 30%;
        margin: 0px auto;
        padding: 20px;
        border: 1px solid #B0C4DE;
        background: white;
        border-radius: 0px 0px 10px 10px;
}
.input-group {
        margin: 10px 0px 10px 0px;
}

.input-group label {
        display: block;
        text-align: left;
        margin: 3px;
}
.input-group input{
        height: 40px;
        width: 93%;
        padding: 5px 10px;
        font-size: 16px;
        border-radius: 5px;
        border: 1px solid gray;
}


.input-group select{
        height: 40px;
        width: 98.5%;
        padding: 5px 10px;
        font-size: 16px;
        border-radius: 5px;
        border: 1px solid gray;
}

.btn {
        padding: 10px;
        font-size: 15px;
        color: white;
        background: #5F9EA0;
        border: none;
        border-radius: 5px;
}
.btn_c {
        padding: 10px;
        font-size: 15px;
        color: white;
        background: #e8a87c;
        border: none;
        border-radius: 5px;
}
th, td{
text-align: left;
}

